/*******************************************General page layout and style*********************************************/
/*color: darkslategrey;*/
/*font-family:'Acme', sans-serif ;*/
/*background-image: repeating-linear-gradient(to bottom, skyblue , pink);*/
#dusk {

    /*grid-template-rows: repeat(6, 1fr) 25%;*/
}

#dusk footer {
    /*grid-row:7;*/
}

#twilight footer {
    /*grid-row: 9;*/
}

#midnight {

    /*grid-template-rows: repeat(6, 1fr) 25%;*/
}

#midnight footer {
    /*grid-row: 7;*/

}

#dawn {
    /*grid-template-rows: repeat(7, 1fr) 25%;*/
}

#dawn footer {
    /*grid-row: 8;*/
}

body {
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr)10%;
    grid-gap: 0.9vh;
}

.content {
    display: grid;
    grid-column: 1/13;
    grid-row: 2/7;
    margin: 3%;
}

header {
    grid-column: 1/13;
    grid-row: 1/2;
    /*position: fixed;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: lightgray;
    /*min-height: 50%;*/
    /*max-height: 50%;*/
}

footer {
    grid-column: 1/13;
    grid-row: 8;
    background: lightgray;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 120%;
    margin-bottom: 0.2%;
}

a {
    text-decoration-line: none;
    color: darkblue;
    font-style: italic;
    font-weight: bold;

}

/********************************************PageSelector*************************************************************/
#Home {
    grid-column: 1;
    border-right: 5px solid black;
}

#Skills {
    grid-column: 2;
    border-right: 5px solid black;
}

#Projects {
    grid-column: 3;
    border-right: 5px solid black;
}

#Education {
    grid-column: 4;
}

.top {
    text-decoration-line: none;
    font-size: 150%;
}

header a, header span {
    padding: 5%;
}

header a
{
    transition: 0.4s;
}

header a:hover
{
    background: lightslategray;
}

button {
    /*color: lightcoral;*/
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 2%;
    border: none;
    background: none;
    font-weight: bolder;
    font-size: 100%;
}

.currentPage {
    font-weight: bolder;
    font-size: 150%;
    background: white;
}

#dusk header div, #dusk header span {
    /*background: skyblue;*/
}

#twilight header div, #twilight header span {
    /*background: darkblue;*/
}

#midnight header div, #midnight header span {
    /*background: midnightblue;*/
}

#dawn header div, #dawn header span {
    /*background: darkblue;*/
}

/***************************************************Home**************************************************************/
#greeting {
    text-align: center;
    grid-column: 3/11;
    grid-row: 2;
    font-size: 150%;
}

#history {
    grid-column: 1/13;
    grid-row: 3/8;
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

#minorInfo {
    grid-column: 1/13;
    grid-row: 5/8;
    font-size: 150%;
    margin-right: 15%;
    margin-left: 15%;
    padding-top: 4%;
}

/*********************************************************Footer******************************************************/
#gmail {
    height: 100%;
    grid-column: 1;
    box-shadow: darkslategrey 0 0 5px;
}

#otherInfo {
    height: 100%;
    grid-column: 2;
    box-shadow: darkslategrey 0 0 5px;
}

#codeCrew {
    height: 100%;
    grid-column: 3;
    box-shadow: darkslategrey 0 0 5px;
}

#youTube {
    height: 100%;
    grid-column: 4;
    box-shadow: darkslategrey 0 0 5px;
}

footer div {
    transition: color 100ms, font-weight 100ms, font-size 100ms;
    padding-bottom: 1%;
    padding-top: 2%;
    background: lightgray;
}

footer div:hover {
    color: black;
    font-weight: bolder;
    font-size: 120%;
}

/************************************************Skills**************************************************************/
#languages {
    grid-column: 2/5;
    grid-row: 3/6;
}


table tr, table tr td {
    /*border: 1px solid blue;*/
    border-style: ridge;
    border-radius: 10%;
}


#usedSystems {
    grid-column: 5/7;
    grid-row: 3/6;
}

#operatingSystems {
    grid-column: 7/10;
    grid-row: 3/6;
}

#educationLevel {
    grid-column: 10/13;
    grid-row: 3/6;
    text-align: left;
}
#educationLevel li
{
    margin: 3%;
}

#reflections {
    grid-column: 7/12;
    grid-row: 5/8;
}

/**********************************************Projects***************************************************************/

body #Pointcounter {
    position: fixed;
    margin: 0;
}

#ideaList {
    grid-column: 2/5;
    grid-row: 3/6;
}

#ideaList table tr td
{
    background: lightgray;
}

.ideaList {
    color: #a85fee;
    transition: color 300ms;
}

.ideaList:hover {
    color: blue;
}

#ideaList table
{
    /*width: 50%;*/
    /*height: 50%;*/
}

.detailsList {
    grid-column: 7/11;
    grid-row: 3/5;
    display: block;
    opacity: 0;
    /*font-size: 130%;*/
    background: lightyellow;

}

#listInformation {
    grid-column: 7/11;
    grid-row: 3/5;
    /*font-size: 130%;*/
    background: lightgreen;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5%;
}

/*********************************************Resume***************************************************************/
#resume {

    grid-column: 2/12;
    grid-row: 2/4;
    height: 100%;
    width: 100%;
    margin-top: 10%;
    overflow-y: hidden;
}

#resumePDF {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /*scrollbar: no;*/
    /*zoom: normal;*/;
}

