/*******************************************General page layout and style*********************************************/
#dusk
{
    /*color: darkslategrey;*/
    /*font-family:'Acme', sans-serif ;*/
    /*background-image: repeating-linear-gradient(to bottom, skyblue , pink);*/
    grid-template-rows: repeat(6,1fr) 15%;
}
#twilight
{
    /*color: lightgray;*/
    /*font-family:'Cinzel', serif;*/
    /*background-image: repeating-linear-gradient(to top , darkgoldenrod, darkblue);*/
}
#midnight
{
    /*color: yellow;*/
    /*font-family:'Righteous',cursive ;*/
    /*background-image: repeating-linear-gradient(to bottom left , midnightblue , black);*/
    grid-template-rows: repeat(6,1fr)15%;
}
#dawn
{
    /*color: lightblue;*/
    /*background-image: repeating-linear-gradient(to bottom, darkblue , goldenrod);*/
    grid-template-rows: repeat(7,1fr) 15% ;
}
body
{
    margin: 0;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(8,1fr) 15%;
    grid-gap: 5vh;
}
.content
{
    grid-column: 1/13;
    grid-row: 2/7 ;
    margin: 3%;
}

header
{
    grid-column: 1/13;
    grid-row: 1/2;
    /*position: fixed;*/
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

footer
{
    grid-column: 1/13;
    grid-row: 9;
    background-image: repeating-linear-gradient(to top, yellow , wheat);
    display: grid;
    grid-template-columns: 30% 1fr 30%;
    grid-template-rows: 1fr 1fr;
    margin: 1%;
}
a
{
    text-decoration-line: none;
    color: blueviolet;
    /*font-style: italic;*/
    font-family:'Righteous',cursive ;
}
/********************************************PageSelector*************************************************************/
#Home
{
    grid-column: 1;
    border-right: 1px solid red;
}
#Skills
{
    grid-column: 2;
    border-right: 1px solid red;
}
#Projects
{
    grid-column: 3;
    border-right: 1px solid red;
}
#Education
{
    grid-column: 4;
}
.top
{
    text-decoration-line: none;

}
header
{
    background: lightcoral;
}
header a , header span
{
    padding: 15%;
}
button
{
    /*color: lightcoral;*/
    /*width: 100%;*/
    /*height: 100%;*/
    padding: 2%;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 80%;
}
.currentPage
{
    font-weight: bolder;
}
#dusk header div , #dusk header span
{
    /*background: skyblue;*/
}
#twilight header div , #twilight header span
{
    /*background: darkblue;*/
}
#midnight header div , #midnight header span
{
    /*background: midnightblue;*/
}
#dawn header div , #dawn header span
{
    /*background: darkblue;*/
}
/***************************************************Home**************************************************************/
#greeting
{
    text-align: center;
    grid-column:3/11 ;
    grid-row: 2;
}

#history
{
    grid-column:1/13;
    grid-row: 3/7;
    font-size: 150%;
}
#minorInfo
{
    grid-column: 1/13;
    grid-row: 5/8;
    font-size: 150%;
}

/*********************************************************Footer******************************************************/
#gmail
{
    grid-column: 1;
    grid-row: 1;
    box-shadow: darkslategrey 0 0 5px ;
}
#otherInfo
{
    grid-column: 1;
    grid-row: 2;
    box-shadow: darkslategrey 0 0 5px ;
}
#codeCrew
{
    grid-column: 3;
    grid-row: 1;
    box-shadow: darkslategrey 0 0 5px ;
}
#youTube
{
    grid-column: 3;
    grid-row: 2;
    box-shadow: darkslategrey 0 0 5px ;
}
footer div
{
    transition: color 1s, font-weight 1ms;
}
footer div:hover
{
    color: black;
    font-weight: bolder;
}

/************************************************Skills**************************************************************/
#languages
{
    grid-column: 1/6;
    grid-row: 3/6;
}
#languageTable
{
    width: 100%;
    height: 100%;
}
table tr , table tr td
{
    /*border: 1px solid blue;*/
    border-style: ridge;
    border-radius: 10%;
}


#usedSystems
{
    grid-column: 8/10;
    grid-row: 3/5;
}
#operatingSystems
{
    grid-column: 10/13;
    grid-row: 3/5;
}

#educationLevel
{
    grid-column: 2/6;
    grid-row: 6/8;
}
#reflections
{
    grid-column: 6/11;
    grid-row: 5/8;
}

/**********************************************Projects***************************************************************/

body #Pointcounter
{
    position: fixed;
    margin: 0;
}

#ideaList
{
    grid-column: 2/5;
    grid-row: 4/7;
}
#star1
{
    grid-column: 7;
    grid-row: 6;
}
#star2
{
    grid-column: 11;
    grid-row: 3;
}
#star3
{
    grid-column: 5;
    grid-row: 5;
}
.ideaList
{
    color: yellow;
    transition: color 300ms;
}
.ideaList:hover
{
    color: blueviolet;
}

.detailsList
{
    grid-column: 7/11;
    grid-row: 4/7;
    display: block;
    opacity: 0;
}

#listInformation
{
    grid-column: 7/11;
    grid-row: 4/7;
}

/*********************************************Resume***************************************************************/
#resume
{
    grid-column: 2/12;
    grid-row: 3/9;
}

#resumePDF
{
    height: 100%;
    width: 100%;
}